<div class="">
  <h2 class="text-lg font-semibold text-secondary">Users</h2>
  <div class="mt-4 grid grid-cols-2 gap-3 sm:grid-cols-3 lg:grid-cols-4">
    <div class="shadow p-4 rounded grid gap-2">
      <div class="bg-pinkpurple bg-opacity-5 rounded-full p-4 w-14">
        <img src="./../../../../../assets/users.png" alt="" class="w-14 text-pinkpurple">
      </div>
      <p class="text-sm font-light text-text1">Users</p>
      <h3 class="text-lg font-semibold text-secondary">2,453</h3>
    </div>
    <div class="shadow p-4 rounded grid gap-2">
      <div class="bg-purpleblue bg-opacity-5 rounded-full p-4 w-14">
        <img src="./../../../../../assets/active_users.png" alt="" class="w-14 text-purpleblue">
      </div>
      <p class="text-sm font-light text-text1">Active Users</p>
      <h3 class="text-lg font-semibold text-secondary">2,453</h3>
    </div>
    <div class="shadow p-4 rounded grid gap-2">
      <div class="bg-primaryorange bg-opacity-5 rounded-full p-4 w-14">
        <img src="./../../../../../assets/loan_users.png" alt="" class="w-14 text-primaryorange">
      </div>
      <p class="text-sm font-light text-text1">Users with Loans</p>
      <h3 class="text-lg font-semibold text-secondary">12,453</h3>
    </div>
    <div class="shadow p-4 rounded grid gap-2">
      <div class="bg-tumeric bg-opacity-5 rounded-full p-4 w-14">
        <img src="./../../../../../assets/saving_users.png" alt="" class="w-14 text-tumeric">
      </div>
      <p class="text-sm font-light text-text1">Users with Savings</p>
      <h3 class="text-lg font-semibold text-secondary">102,453</h3>
    </div>
  </div>

  <div class="mt-10 shadow-md">
    <div class="overflow-scroll overflow-y-auto h-96">
      <table class="w-full">
        <thead class="sticky top-0 bg-white">
          <tr class="">
            <th class="bg-gray-100 py-4 px-2">
              <div class="text-start flex items-center gap-2 pr-7 font-normal text-text1 text-sm">
                <p class="whitespace-nowrap">organization</p>
                <img src="./../../../../../assets/svg/filter.svg" alt="" class="cursor-pointer w-3">
              </div>
            </th>
            <th class="bg-gray-100 py-4 px-2">
              <div class="text-start flex items-center gap-2 pr-7 font-normal text-text1 text-sm">
                <p class="whitespace-nowrap">Username</p>
                <img src="./../../../../../assets/svg/filter.svg" alt="" class="cursor-pointer w-3">
              </div>
            </th>
            <th class="bg-gray-100 py-4 px-2">
              <div class="text-start flex items-center gap-2 pr-7 font-normal text-text1 text-sm">
                <p class="whitespace-nowrap">Email</p>
                <img src="./../../../../../assets/svg/filter.svg" alt="" class="cursor-pointer w-3">
              </div>
            </th>
            <th class="bg-gray-100 py-4 px-2">
              <div class="text-start flex items-center gap-2 pr-7 font-normal text-text1 text-sm">
                <p class="whitespace-nowrap">Phone number</p>
                <img src="./../../../../../assets/svg/filter.svg" alt="" class="cursor-pointer w-3">
              </div>
            </th>
            <th class="bg-gray-100 py-4 px-2">
              <div class="text-start flex items-center gap-2 pr-7 font-normal text-text1 text-sm">
                <p class="whitespace-nowrap">Date joined</p>
                <img src="./../../../../../assets/svg/filter.svg" alt="" class="cursor-pointer w-3">
              </div>
            </th>
            <th class="bg-gray-100 py-4 px-2">
              <div class="text-start flex items-center gap-2 pr-7 font-normal text-text1 text-sm">
                <p class="whitespace-nowrap">Status</p>
                <img src="./../../../../../assets/svg/filter.svg" alt="" class="cursor-pointer w-3">
              </div>
            </th>
            <th class="bg-gray-100 py-4 px-2">
              <div class="text-start flex items-center gap-2 pr-7 font-normal text-text1 text-sm">
              </div>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="isLoading">
          <tr>
            <td colspan="7">
              <div class="flex justify-center items-center h-64">
                <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!isLoading && users">
          <tr *ngFor="let user of users" class="hover:cursor-pointer hover:bg-gray-200">
            <td>
              <div class="py-4 border-b px-2" (click)="gotoUserDetails(user)">
                <span class="text-xs whitespace-nowrap text-text1 pr-7">{{ user.orgName }}</span>
              </div>
            </td>
            <td>
              <div class="py-4 border-b px-2" (click)="gotoUserDetails(user)">
                <span class="text-xs whitespace-nowrap text-text1 pr-7">{{ user.userName }}</span>
              </div>
            </td>
            <td>
              <div class="py-4 border-b px-2" (click)="gotoUserDetails(user)">
                <span class="text-xs whitespace-nowrap text-text1 pr-7">{{ user.email }}</span>
              </div>
            </td>
            <td>
              <div class="py-4 border-b px-2" (click)="gotoUserDetails(user)">
                <span class="text-xs whitespace-nowrap text-text1 pr-7">{{ user.phoneNumber }}</span>
              </div>
            </td>
            <td>
              <div class="py-4 border-b px-2" (click)="gotoUserDetails(user)">
                <span class="text-xs whitespace-nowrap text-text1 pr-7">{{ user.createdAt | date: "MMM d, y h:mm:ss a"
                  }}</span>
              </div>
            </td>
            <td>
              <div class="py-4 border-b px-2" (click)="gotoUserDetails(user)">
                <span
                  [class]="user.education?.employmentStatus === 'Employed' ? 'bg-green-300 text-green-600' : 'bg-red-200 text-red-600'"
                  class="text-xs text-center font-normal whitespace-nowrap text-text1 py-1 px-2 rounded bg-opacity-20">{{
                  user.education?.employmentStatus }}</span>
              </div>
            </td>
            <td>
              <div class="py-4 border-b px-2">
                <app-dropdown>
                  <button type="button" slot-main>
                    <i class="pi pi-ellipsis-v cursor-pointer text-xs text-text1 font-extrabold"></i>
                  </button>
                  <ng-container slot-content>
                    <div (click)="gotoUserDetails(user)" class="flex p-2 gap-2 my-1 items-center text-xs text-secondary">
                      <i class="pi pi-eye cursor-pointer text-xs text-text1 font-extrabold"></i>
                      <span class="">View Details</span>
                    </div>
                    <div class="flex p-2 gap-2 my-1 items-center text-xs text-secondary">
                      <i class="pi pi-user-minus cursor-pointer text-xs text-text1 font-extrabold"></i>
                      <span class="">Blacklist User</span>
                    </div>
                    <div class="flex p-2 gap-2 my-1 items-center text-xs text-secondary">
                      <i class="pi pi-user-plus cursor-pointer text-xs text-text1 font-extrabold"></i>
                      <span class="">Activate User</span>
                    </div>
                  </ng-container>
                </app-dropdown>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-4 mb-10" *ngIf="users">
      <p-paginator [rows]="10" [totalRecords]="users.length"></p-paginator>
    </div>
  </div>

</div>