<p (click)="back()" class="inline-flex cursor-pointer items-center gap-2 mb-4 text-xs"><i class="pi pi-arrow-left"></i>
  Back to Users</p>

<div class="flex justify-center items-center h-[calc(100vh-13rem)]" *ngIf="isLoading">
  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
</div>

<div class="" *ngIf="!isLoading">
  <div class="flex flex-col sm:flex-row gap-4 sm:justify-between sm:items-center">
    <h2 class="text-lg font-semibold text-secondary">User Details</h2>
    <div class="flex flex-col sm:flex-row gap-4">
      <button class="border text-red-500 border-red-500 text-xs font-normal py-2 px-4 rounded-md">Blacklist
        User</button>
      <button class="border text-primary border-primary text-xs font-normal py-2 px-4 rounded-md">Activate User</button>
    </div>
  </div>

  <div class="shadow rounded">
    <div class="p-4 pb-0 mt-10 text-secondary md:flex md:justify-between md:items-center">
      <div class="flex items-center gap-5">
        <i class="pi pi-user p-10 bg-secondary bg-opacity-40 rounded-full" style="font-size: 4rem"></i>
        <div class="">
          <h3 class="text-2xl">{{ user?.profile?.firstName }} {{ user?.profile?.lastName }}</h3>
          <p class="text-text1 text-sm">{{ user.accountNumber }}</p>
        </div>
      </div>
      <hr class="border h-32 hidden md:block">
      <div class="my-4 text-center">
        <p class="">User’s Tier</p>
        <p-rating [(ngModel)]="val" [readonly]="true" [cancel]="false" [stars]="3"></p-rating>
      </div>
      <hr class="border h-32 hidden md:block">

      <div class="text-center">
        <p class="text-lg">₦{{ user.accountBalance }}</p>
        <p class="text-xs">{{ user?.profile?.bvn }}/{{ user.orgName }}</p>
      </div>

    </div>
    <div class="mt-6 px-4 overflow-x-scroll flex md:justify-between">
      <a href="#" class="whitespace-nowrap text-sm px-4 py-2 border-b-2 border-primary text-primary">General Details</a>
      <a href="#" class="whitespace-nowrap text-sm px-4 py-2">Documents</a>
      <a href="#" class="whitespace-nowrap text-sm px-4 py-2">Bank Details</a>
      <a href="#" class="whitespace-nowrap text-sm px-4 py-2">Loans</a>
      <a href="#" class="whitespace-nowrap text-sm px-4 py-2">Savings</a>
      <a href="#" class="whitespace-nowrap text-sm px-4 py-2">App and System</a>
    </div>
  </div>

  <div class="text-text1 p-4 mt-8 shadow rounded sm:mb-16">
    <h3 class="mb-4">Personal Information</h3>
    <div class="grid gap-3 grid-cols-1 sm:grid-cols-3 md:grid-cols-4">
      <div class="">
        <p class="text-xs font-light">full Name</p>
        <p class="text-xs font-semibold">{{ user?.profile?.firstName }} {{ user?.profile?.lastName }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Phone Number</p>
        <p class="text-xs font-semibold">{{ user.phoneNumber }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Email Address</p>
        <p class="text-xs font-semibold">{{ user.email }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Bvn</p>
        <p class="text-xs font-semibold">{{ user?.profile?.bvn }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Gender</p>
        <p class="text-xs font-semibold">{{ user?.profile?.gender }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Marital status</p>
        <p class="text-xs font-semibold">{{ "N/A" }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Children</p>
        <p class="text-xs font-semibold">{{ "N/A" }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Type of residence</p>
        <p class="text-xs font-semibold">{{ 'N/A'}}</p>
      </div>
    </div>

    <hr class="my-8">

    <h3 class="mb-4">Education and Employment</h3>
    <div class="grid gap-3 grid-cols-1 sm:grid-cols-3 md:grid-cols-4">
      <div class="">
        <p class="text-xs font-light">level of education</p>
        <p class="text-xs font-semibold">{{ user?.education?.level }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">employment status</p>
        <p class="text-xs font-semibold">{{ user?.education?.employmentStatus }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">sector of employment</p>
        <p class="text-xs font-semibold">{{ user?.education?.sector }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Duration of employment</p>
        <p class="text-xs font-semibold">{{ user?.education?.duration }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">office email</p>
        <p class="text-xs font-semibold">{{ user?.education?.officeEmail }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Monthly income</p>
        <p class="text-xs font-semibold">{{ user?.education?.level }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">loan repayment</p>
        <p class="text-xs font-semibold">{{ updateMonthlyIncome(user?.education?.monthlyIncome) }} </p>
      </div>
    </div>

    <hr class="my-8">

    <h3 class="mb-4">Socials</h3>
    <div class="grid gap-3 grid-cols-1 sm:grid-cols-3">
      <div class="">
        <p class="text-xs font-light">Twitter</p>
        <p class="text-xs font-semibold">{{ user?.socials?.twitter }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Facebook</p>
        <p class="text-xs font-semibold">{{ user?.socials?.facebook }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Email Address</p>
        <p class="text-xs font-semibold">{{ user.email }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Instagram</p>
        <p class="text-xs font-semibold">{{ user?.socials?.instagram }}</p>
      </div>
    </div>

    <hr class="my-8">

    <h3 class="mb-4">Guarantor</h3>
    <div class="grid gap-3 grid-cols-1 sm:grid-cols-3 md:grid-cols-4">
      <div class="">
        <p class="text-xs font-light">full Name</p>
        <p class="text-xs font-semibold">{{ user?.guarantor?.firstName }} {{ user?.guarantor?.lastName }}</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Phone Number</p>
        <p class="text-xs font-semibold">N/A</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Email Address</p>
        <p class="text-xs font-semibold">N/A</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Bvn</p>
        <p class="text-xs font-semibold">N/A</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Relationship</p>
        <p class="text-xs font-semibold">N/A</p>
      </div>
    </div>

    <hr class="my-8">

    <!-- <h3 class="mb-4">Personal Information</h3>
    <div class="grid gap-3 grid-cols-1 sm:grid-cols-3 md:grid-cols-4">
      <div class="">
        <p class="text-xs font-light">full Name</p>
        <p class="text-xs font-semibold">Debby Ogana</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Phone Number</p>
        <p class="text-xs font-semibold">07060780922</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Email Address</p>
        <p class="text-xs font-semibold">grace@gmail.com</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Relationship</p>
        <p class="text-xs font-semibold">Sister</p>
      </div>
    </div> -->

    <!-- <hr class="my-8"> -->
  </div>
</div>