<div class="">
    <a href="" class="inline-flex items-center gap-2 mb-4 text-sm"><i class="pi pi-arrow-left"></i> Back to Users</a>

  <div class="flex flex-col sm:flex-row gap-4 sm:justify-between sm:items-center">
    <h2 class="text-lg font-semibold text-secondary">User Details</h2>
    <div class="flex flex-col sm:flex-row gap-4">
      <button class="border text-red-500 border-red-500 text-xs font-normal py-2 px-4 rounded-md">Blacklist
        User</button>
      <button class="border text-primary border-primary text-xs font-normal py-2 px-4 rounded-md">Activate User</button>
    </div>
  </div>

  <div class="shadow rounded">
    <div class="p-4 pb-0 mt-10 text-secondary md:flex md:justify-between md:items-center">
      <div class="flex items-center gap-5">
        <i class="pi pi-user p-10 bg-secondary bg-opacity-40 rounded-full" style="font-size: 4rem"></i>
        <div class="">
          <h3 class="text-2xl">Grace Effiom</h3>
          <p class="text-text1 text-sm">LSQFf587g90</p>
        </div>
      </div>
      <hr class="border h-32 hidden md:block">
      <div class="my-4 text-center">
        <p class="">User’s Tier</p>
        <p-rating [(ngModel)]="val" [readonly]="true" [cancel]="false" [stars]="3"></p-rating>
      </div>
      <hr class="border h-32 hidden md:block">

      <div class="text-center">
        <p class="text-lg">₦200,000.00</p>
        <p class="text-xs">9912345678/Providus Bank</p>
      </div>
  
    </div>
    <div class="mt-6 px-4 overflow-x-scroll flex md:justify-between">
      <a href="#" class="whitespace-nowrap text-sm px-4 py-2 border-b-2 border-primary text-primary">General Details</a>
      <a href="#" class="whitespace-nowrap text-sm px-4 py-2">Documents</a>
      <a href="#" class="whitespace-nowrap text-sm px-4 py-2">Bank Details</a>
      <a href="#" class="whitespace-nowrap text-sm px-4 py-2">Loans</a>
      <a href="#" class="whitespace-nowrap text-sm px-4 py-2">Savings</a>
      <a href="#" class="whitespace-nowrap text-sm px-4 py-2">App and System</a>
    </div>
  </div>

  <div class="text-text1 p-4 mt-8 shadow rounded sm:mb-16">
    <h3 class="mb-4">Personal Information</h3>
    <div class="grid gap-3 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
      <div class="">
        <p class="text-xs font-light">full Name</p>
        <p class="text-xs font-semibold">Grace Effiom</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Phone Number</p>
        <p class="text-xs font-semibold">07060780922</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Email Address</p>
        <p class="text-xs font-semibold">grace@gmail.com</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Bvn</p>
        <p class="text-xs font-semibold">07060780922</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Gender</p>
        <p class="text-xs font-semibold">Female</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Marital status</p>
        <p class="text-xs font-semibold">Single</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Children</p>
        <p class="text-xs font-semibold">None</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Type of residence</p>
        <p class="text-xs font-semibold">Parent’s Apartment</p>
      </div>
    </div>

    <hr class="my-8">
    
    <h3 class="mb-4">Education and Employment</h3>
    <div class="grid gap-3 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
      <div class="">
        <p class="text-xs font-light">level of education</p>
        <p class="text-xs font-semibold">B.Sc</p>
      </div>
      <div class="">
        <p class="text-xs font-light">employment status</p>
        <p class="text-xs font-semibold">Employed</p>
      </div>
      <div class="">
        <p class="text-xs font-light">sector of employment</p>
        <p class="text-xs font-semibold">FinTech</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Duration of employment</p>
        <p class="text-xs font-semibold">2 years</p>
      </div>
      <div class="">
        <p class="text-xs font-light">office email</p>
        <p class="text-xs font-semibold">grace@lendsqr.com</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Monthly income</p>
        <p class="text-xs font-semibold">₦200,000.00- ₦400,000.00</p>
      </div>
      <div class="">
        <p class="text-xs font-light">loan repayment</p>
        <p class="text-xs font-semibold">40,000</p>
      </div>
    </div>

    <hr class="my-8">
    
    <h3 class="mb-4">Socials</h3>
    <div class="grid gap-3 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
      <div class="">
        <p class="text-xs font-light">Twitter</p>
        <p class="text-xs font-semibold">@grace_effiom</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Facebook</p>
        <p class="text-xs font-semibold">Grace Effiom</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Email Address</p>
        <p class="text-xs font-semibold">grace@gmail.com</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Instagram</p>
        <p class="text-xs font-semibold">@grace_effiom</p>
      </div>
    </div>

    <hr class="my-8">

    <h3 class="mb-4">Guarantor</h3>
    <div class="grid gap-3 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
      <div class="">
        <p class="text-xs font-light">full Name</p>
        <p class="text-xs font-semibold">Debby Ogana</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Phone Number</p>
        <p class="text-xs font-semibold">07060780922</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Email Address</p>
        <p class="text-xs font-semibold">debby@gmail.com</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Bvn</p>
        <p class="text-xs font-semibold">07060780922</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Relationship</p>
        <p class="text-xs font-semibold">Sister</p>
      </div>
    </div>

    <hr class="my-8">
    
    <h3 class="mb-4">Personal Information</h3>
    <div class="grid gap-3 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
      <div class="">
        <p class="text-xs font-light">full Name</p>
        <p class="text-xs font-semibold">Debby Ogana</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Phone Number</p>
        <p class="text-xs font-semibold">07060780922</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Email Address</p>
        <p class="text-xs font-semibold">grace@gmail.com</p>
      </div>
      <div class="">
        <p class="text-xs font-light">Relationship</p>
        <p class="text-xs font-semibold">Sister</p>
      </div>
    </div>

    <!-- <hr class="my-8"> -->
  </div>
</div>